target/
binbag-core/target/
binbag-*/bin
binbag-sbt-plugin/target/
binbag-examples/target
dist/
project/boot/
project/plugins/project/
project/plugins/src_managed/
*.log
*.tmproj
lib_managed/
*.iml
*.settings
.idea/
.classpath
.project
.scala_dependencies
.ivyjars
.classpath.txt
sbt-launch.jar
.gcprof
